*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img{
    max-width: 120px;
    height: auto;
}

.navmenu{
    display: flex;
}

.navmenu a{
    color: #2c2c2c;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: #EE1C47;
}

.nav-icon{
    display: flex;
    align-items: center;
}

.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 1.3rem;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}

#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 5% 10%;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(img/banner-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text h5{
    color: #EE1C47;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1{
    color: #000;
    font-size: 4rem;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0px 10px;
}

.main-text p{
    color: #333c56;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn{
    display: inline-block;
    color: #111;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover{
    background-color: #000;
    color: #fff;
}

.main-btn i{
    vertical-align: middle;
}

.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i{
    color: #2c2c2c;
    font-size: 2rem;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover{
    color: #fff;
    background-color: #2c2c2c;
    transition: all .42s ease;
}

header.sticky{
    background-color: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.center-text h2{
    color:#111;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span{
    color: #EE1C47;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.row{
    position: relative;
    transition: all .40s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}

.row img:hover{
    transform: scale(0.9);
}

.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #b40226;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon{
    position:absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover{
    color: #EE1C47;
}

.ratting{
    color: #FF8C00;
    font-size: 18px;
}

.price h4{
    color: #111;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

.price p{
    color: #151515;
    font-size: 0.89rem;
    font-weight: 600;
}

.client-reviews{
    background-color: #F3F4F6;
}

.reviews{
    text-align: center;
}

.reviews h3{
    color: #111;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0px;
}

.reviews p{
    color: #707070;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.reviews h2{
    color: #000;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 2px;
}

.up-center-text h2{
    text-align: center;
    color: #111;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 700;
    margin: 30px;
}

.cart img{
    width: 380px;
    height: auto;
    border-radius: 5px;
}

.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    gap: 1rem;
}

.cart h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart h4{
    color: #111;
    font-size: 1.1rem;
    font-weight: 600;
}

.cart p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}

.cart h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}

.contact{
    background-color: #F3F4F6;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.first-info img{
    width: 140px;
    height: auto;
}

.contact-info h4{
    color: #212529;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .40s;
}

.contact-info p:hover{
    color: #EE1C47;
}

.social-icon i{
    color: #565656;
    font-size: 20px;
    margin-right: 10px;
    transition: all .42s;
}

.social-icon i:hover{
    transform: scale(1.3);
}

.end-text p{
    background-color: #edfff1;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}

.end-text a{
    color: #EE1C47;
}

@media (max-width: 890px) {
    section{
        padding: 5% 5%;
    }
    
    header{
        padding: 20px 3%;
        transition: 0.4s;
    }

    .main-text h1{
        font-size: 3rem;
    }

    .main-home{
        height: 80vh;
        background-position: center;
        background-size: cover;
    }

    .products{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1rem;
    }

    .update-cart{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    .cart img{
        width: 100%;
        height: auto;
    }

    .contact-info{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1rem;
    }

    .main-home{
        height: 50vh;
        background-image: url(img/banner-3.png);
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 750px) {
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 120vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s ease;
    }

    .navmenu a{
        display: block;
        margin: 10px 0px;
        transition: all .42s ease;
    }

    .navmenu.open{
        right: 0;
    }

    .products{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .update-cart{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 640px) {
    section{
        padding: 50px 5%;
    }

    .main-text h1{
        font-size: 2rem;
    }

    .products{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .reviews {
        padding: 0 5%;
    }

    .update-cart{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .cart img{
        width: 100%;
        height: auto;
    }

    .cart p{
        max-width: 100%;
    }

    .contact-info{
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        gap: 2rem;
    }

    .first-info{
        grid-column: 1/-1;
    }

    .main-home{
        height: 60vh;
        background-image: url(img/banner-3.png);
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 580px) {
    .main-text h1{
        font-size: 1.5rem;
    }

    .main-text p{
        font-size: 0.9rem;
    }

    .down-arrow{
        display: none;
    }

    header,
    header.sticky{
        padding: 15px 5%;
    }

    .nav-icon a:nth-child(1),
    .nav-icon a:nth-child(2){
        display: none;
    }

    #menu-icon{
        font-size: 30px;
        display: block;
    }
}

@media (max-width: 450px) {
    .main-text h1{
        font-size: 1.2rem;
    }

    .center-text h2{
        font-size: 1.2rem;
    }

    .products{
        grid-template-columns: 1fr;
    }

    .contact-info{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .five p{
        text-align: left;
    }

    .main-home{
        height: 40vh;
    }
}

@media (max-width: 360px) {
    section{
        padding: 40px 4%;
    }

    .main-text h5{
        font-size: 0.8rem;
    }

    .main-text h1{
        font-size: 1rem;
    }

    .navmenu{
        width: 80%;
    }
}